#crosshairs {
	--length: 2rem;
	position: fixed;
	width: var(--length);
	height: var(--length);
	top: calc(50vh - var(--length) / 2); 
	left: calc(50vw - var(--length) / 2);
	z-index: 1;
	pointer-events: none;
}
